.wrapper {
    width: 200px;
    max-height: 300px;
    display: flex;
    overflow-x: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    margin: 4px 4px;
    padding: 2px 4px;
    font-size: 20px;
    border: none;
}
.btn:hover{
    background-color: darkgray;
    border-radius: 5px;
}